<%- include('partials/header') %>


<div class="jumbotron centered a">
  <div class="container">
    
    <h1 class="display-3">welcome to JTBC job portal</h1>
    <p class="lead">signup or login to submit your resume and get placement in one week</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
