<%- include('partials/header') %>

<div class="container a">
  <div class="jumbotron centered a">
    
    <h1 class="display-3">JTBC job portal</h1>
    <p class="secret-text">we will mail you within a week</p>

    <form action="/submit" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <input type="email" class="form-control text-center" name="secret" placeholder="enter your email">
        <hr>
        <input type="file" name="resume">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

   
    


  </div>
</div>
<%- include('partials/footer') %>
