
body {
 
  background: linear-gradient(
    106.37deg,
    #FFE1bc 29.63%,
   #ffcfd1 51.55%,
   #f3c6f1 90.85%
  );
}

.a{
  background: linear-gradient(
    106.37deg,
    #FFE1bc 29.63%,
   #ffcfd1 51.55%,
   #f3c6f1 90.85%
  );
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
